.slides {
  * {
    box-sizing: border-box;
  }

  section {
    padding: 0;
    height: 100%;
  }

  .slide-content {
    padding: 30px 100px 100px 30px;
    max-height: 100%;
    overflow: auto;
  }

  .big-container,
  .small-container {
    margin: 0 auto;
    text-align: left;
  }
  
  .small-container {
    max-width: 1024px;
  }

  .big-container {
    max-width: 1440px;
  }

  &.is-full-width {
    width: 100%;
  }

  .is-centered {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
